html{
    background-color: #0e121b;
}

.exchangePage{
    display: flex;
}

.leftContainer{
    width: 30%;
}
    .leftContainer-orderButtons{
        width:90%;
        margin: 5% 0% 0% 5%;
        padding: 1.5%;        
    }

    .leftContainer-panels{
        display:grid;
        grid: repeat(5, 80px) / repeat(3, 1fr);
    }

    .leftContainer-h2{
        grid-column: 1 / 3;
    }

    .leftContainer-balances{
        grid-column: 1 / 4;
    }

.token1{
    display: grid;
}
    .token1>button{
        display: block;
    }

.token2{
    display: grid;
}

.rightContainer{
    width: 70%;
}

.ordersSection{
    display: flex;
    justify-content: center;
}
    .ordersSection>div{
        margin: 10px;
        border: solid black
    }

.orderBook{
    display: flex;
    justify-content: space-evenly;
}
    .orderBook>div{
        justify-self: row;
        border: solid black
    }