html{
    background-color: #2c3396;
}

h1{
    color: red;
}

.split__container{
    display: flex;
}

.left-split{
    background-color: #7098d4;
    width: 30%;
}

.right-split{
    width: 65%;
}

.orders__section{
    display: flex;
    justify-content: center;
}

